<%# locals: (weather_data: nil) %>
<div id="form-messages">
	<% if weather_data.blank? %>
		<p class="error">Something went wrong. Please try again.</p>
	<% elsif weather_data[:error].present? %>
		<p class="error"><%= weather_data[:error] %></p>
	<% end %>
</div>