* { box-sizing: border-box; }
html, body { height: 100%; }

body {
  margin: 0;
  color: #000;
  font: 400 1.1em/1.3 arial, sans-serif;
	background-color: #fff;
}

a {
	&:link,
	&:visited,
	&:active {
		color: #609cff;
	  text-decoration: none;
	}
	&:hover { text-decoration: underline; }
}

.error { color: #f00; }
#form-messages {
	p { color: #f00; }
}

header.primary,
footer.primary { padding: 15px 30px; }

header.primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;  
	
	.logo-container {
		a.home { text-decoration: none; }
		.logo {
			color: #252525;
			font-size: 160%;
			font-weight: 500;
		}
	}
	
	nav.controls {
		.control { margin-left: 5px; }
	}
}

#content { padding: 30px;}

footer.primary {
	background-color: #e8e8e8;
}